@font-face {
  font-family: "Roboto";
  src: url(Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-LigthItalic";
  src: url(Roboto/Roboto-LightItalic.ttf);
}

@font-face {
  font-family: "Roboto-Light";
  src: url(Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Thin";
  src: url(Roboto/Roboto-Thin.ttf);
}

/* COLORS AND COLORS*/
/* #1F2937  -HERO/ FOOTER */
/* 48px extra-bold #F9FAF8; */
/* 18px #E5E7EB */
/* 24px #F9FAF8 */
/* ##3882F6 */
/* 36px extra-bold #1F2937 */
#E5E7EB
/* 36px ligth italic #1F2937 */

/* ////////////////////////////////////// */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 400;

  background-color: white;
  margin: 0 15rem;
}

header {
  padding: 0 10rem;
  background-color: #1f2937;
  position: relative;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-logo_text {
  font-size: 24px;
  color: #f9faf8;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2.4rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.link-text {
  font-family: "Roboto-Regular";
  font-size: 18px;
  color: #e5e7eb;
}

/* ///////////////////////////// */
/* SECTION-HERO */
.section_hero {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 20rem;
  gap: 2rem;

  max-height: 20rem;
  background-color: #1f2937;

  padding: 4rem 0;
}

.hero_text-box {
  display: flex;
  flex-direction: column;
  grid-template-rows: center;
  justify-content: flex-end;

  align-items: flex-end;
}

.heading-primary {
  font-size: 48px;
  font-family: "Roboto-Bold";
  color: #f9faf8;
}

.heading-secondary {
  font-family: "Roboto-Regular";
  font-size: 18px;
  color: #e5e7eb;
}

.hero-img img {
  /* background-size: cover; */
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
}

/* SECTION INFO */
.section_info {
  padding: 0rem 0 6rem 0;
}

.info-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-boxes figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  width: 10rem;
  height: 10rem;
}

figure {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box-fig img {
  border-radius: 2px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.box-fig {
  border: 4px solid #3882f6;
  border-radius: 8px;
}

figcaption {
  text-align: center;
}

.section_info-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 36px;
  font-family: "Roboto-Bold";
  color: #1f2937;
}

/* SECTION testimonial */
.section_testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #e5e7eb;
  padding: 8rem 12rem;
}

.testimony-text {
  font-size: 36px;
  font-family: "Roboto-LigthItalic";
  font-weight: lighter;
  color: #1f2937;
}

.author {
  font-family: "Roboto-Bold";
  color: #1f2937;
  align-self: flex-end;
  margin-right: 4rem;
}

/* SECTION CALL */
.section_call-to-action {
  background-color: #3882f6;
  color: #e5e7eb;
  margin: 4rem 10rem;
  padding: 4rem 4rem;
  border-radius: 6px;

  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.call-action .call_p {
  color: #e5e7eb;
  font-weight: 200;
}

/* FOOTER */

.footer {
  font-family: "Roboto-Regular";
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  background-color: #1f2937;
  color: #e5e7eb;

  margin-bottom: 2rem;
}

p {
  color: #e5e7eb;
}

.btn {
  display: inline-block;
  align-self: flex-start;

  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn:link,
.btn:visited,
.btn:hover,
.btn:active {
  background-color: #e5e7eb;
  color: #3882f6;
}

.sign_up-btn {
  background-color: #3882f6;
  color: #e5e7eb;
}

.call_btn {
  background-color: #3882f6;
  color: #e5e7eb;
  border: #e5e7eb 2px solid;
}
